h1 {
	font-family: Orbitron, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	font-size: 48px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	color: green;
}

input {
	background-color: black;
	border-color: green;
	color: green;
	align: center;
}

body {
	font-family: Orbitron, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	line-height: 26.4px;
	color: green;
	font-weight: bold;
	background-color: black;
}

.list-group-item {
	background-color: black !important;
	border-color: green !important;
	color: green !important;
}

.list-group-item:hover {
	background-color: green !important;
	color: black !important;
	border-left-width: 10px;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:auto;
   width:100%;
   background:#999;
   text-align: center;
   background: black;
   color: green;
   padding: 15px 5px 15px 10px;
}

#footer a {
	color: green;
	font-size: 32px;
	padding: 20px;
}
